<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
		<title>Squadbuyer</title>

        <meta name="google-signin-client_id" content="447632627047-cfgukg35lc6gep6ic61s8nslkuu9rjq7.apps.googleusercontent.com">
	<div class='g-signin' data-onsuccess='onSignIn'></div>
	<div class='g-signout' href='' style='display:none' onclick='signOut()'>Sign out</div>
	</head>
	<body>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
       
            <div class="col-4 text-center">
          <img src="..\.. \public\assets\images\logo.jpg">
        </div>
      </div>
		{{{ body }}}
		
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
	</body>
</HTML>